.container {
	position: relative;
}

.content {
	position: absolute;
	top: -44px;
	right: 0px;
	display: flex;
	align-items: center;
	column-gap: 25px;
}

.cartInfo {
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.6);
	letter-spacing: 1px;
}

.cartLogo {
	width: 40px;
	cursor: pointer;
}